body {
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    border: 1px solid blue;
    height: 50px;
    width: 100%;
    background-color: lightgray;
    text-align: center;
}
h1 {
    font-size: large;
    margin-top: 10px;
}

p {
    color: blue;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 510px;
}

.square {
    border: .5px solid white;
    width: 50px;
    flex: 1 0 auto;
}

/* Tile Classes */

.water {
    background-color: lightskyblue;
}

.ship {
    background-color: gray;
}