body {
    box-sizing: border-box;
    margin: 0 auto;
}
/* Header Tags */
header {
    border: 3px solid navy;
    height: 50px;
    width: 1026px;
    background-color: lightgray;
    text-align: center;
    margin: 10px;
    padding-top: 10px;
}
h1 {
    font-size: large;
    margin-top: 10px;
}


/* Gameboards Section */
.section {
    border: 3px solid navy;
    background-color: lightgray;
    height: 550px;
    width: 1026px;
    margin: 10px;
}
.gameboard {
    border-bottom: 3px solid navy;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 510px;
}
button {
    height: 100px;
    width: 100px;
}

.float p {
    text-align: center;
    padding-top: 10px;
}
#left {
    float: left;
    border-right: 3px solid navy;
    height: 100%;
}
#right {
    float: right;
    border-left: 3px solid navy;
    height: 100%;
}


/* Logger */
#user-log {
    display: none;
    border: 3px solid red;
    height: 100px;
}

.square {
    border: .5px solid white;
    width: 47px;
    height: 47px;
    flex: 1 0 auto;
}

/* Tile Classes */

.water {
    background-color: lightskyblue;
}
.ship {
    background-color: gray;
}
.water.struck {
    background-color: lightcoral;
}
.struck.ship {
    background-color: red;
}

/* SHIPS */

.shipShape {
    background-color: gray;
    margin-right: 250px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 40%;
}

.carriership.long {
    height: 45px;
    width: 235px;
}
.battleship.long {
    height: 45px;
    width: 188px;
}
.destroyership.long {
    height: 45px;
    width: 141px;
}
.submarineship.long {
    height: 45px;
    width: 141px;
}
.patrolship.long {
    height: 45px;
    width: 94px;
}

.carriership.tall {
    height: 235px;
    width: 45px;
}
.battleship.tall {
    height: 188px;
    width: 45px;
}
.destroyership.tall {
    height: 141px;
    width: 45px;
}
.submarineship.tall {
    height: 141px;
    width: 45px;
}
.patrolship.tall {
    height: 94px;
    width: 45px;
}

.hold {
    border: solid lightgray 4px;
}

.hovered {
    background-color: lightgray;
    border-style: dashed;
}

.invisible {
    background: lightblue;
}

.blue {
    background-color: blue;
}